$font-example-mulitplier: 3;
$heading-example-sizes: (
  ( size: 1, font-size: $h1-font-size ),
  ( size: 2, font-size: $h2-font-size ),
  ( size: 3, font-size: $h3-font-size ),
  ( size: 4, font-size: $h4-font-size )
);

// Font family examples.

#open-sans-example {
  font-family: $open-sans;
}

#proxima-nova-example {
  font-family: $proxima-nova;
}

#open-sans-example, #proxima-nova-example {
  font-weight: normal;
  font-size: 1em * $font-example-mulitplier;
  line-height: 1.2em;
  margin-bottom: 1em / $font-example-mulitplier;
}

// Heading tag examples

@each $size in $heading-example-sizes {
  #heading-#{map-get($size, size)}-example {
    font-family: $proxima-nova;
    font-weight: normal;
    font-size: map-get($size, font-size);
    color: $blue;
  }
}

// Body copy example

#body-copy-example {
  font-family: $open-sans;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $body-text;
}
