
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Proxima Nova';
  src: url('proximanova-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('proximanova-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('proximanova-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('proximanova-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h1, h2 {
  font-family: 'Proxima Nova', Arial, SansSerif;
}

h3, h4, h5, h6, p, li {
  font-family: 'Open Sans', Arial, SansSerif;
}

.book.color-theme-3 .book-header {
  background: #106db2;
  height: 65px;
  padding: 8px 0 0 0;
}

.book.color-theme-3 .book-header .btn {
  color: #fff;
}

#book-search-input {
  padding: 12px 0 0 10px;
  margin-top: 0;
  height: 65px;
}
