
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Proxima Nova';
  src: url('proximanova-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('proximanova-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('proximanova-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('proximanova-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('proximanova-semibold-webfont.eot'); /* IE9 Compat Modes */
  src: url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('proximanova-semibold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('proximanova-semibold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('proximanova-semibold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Proxima Nova', Arial, SansSerif;
}

p, input {
  font-family: 'Open Sans', Arial, SansSerif;
}

button {
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
}

.copy-code-button {
  border-width: 0 !important;
  border-style: none !important;
  padding: 2px 5px !important;
  border-color: transparent !important;
  border-image: none !important;
  background-color: #ddd !important;
  border-radius: 0 !important;
  color: #333 !important;
  font-family: "Proxima Nova";
  font-size: 8pt !important;
}

.page-inner {
  max-width: 900px;
  margin: 70px auto 0 auto;
  padding: 20px 15px 40px 28px;
}

.btn-primary-default {
  background: #106db2;
  color: white;
  font-size: 21px;
  font-family: 'Proxima Nova', Arial, SansSerif;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #C9C9C9;
  padding: 10px 40px;
}

.btn-primary-hover {
  margin-left: 10px;
  background: #ffd200;
  color: #333;
  font-size: 21px;
  font-family: 'Proxima Nova', Arial, SansSerif;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #C9C9C9;
  padding: 10px 40px;
}

.btn-secondary-default {
  background: #106db2;
  color: white;
  font-size: 18px;
  font-family: 'Proxima Nova', Arial, SansSerif;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #C9C9C9;
  padding: 6px 15px;
}

.btn-secondary-hover {
  margin-left: 10px;
  background: #ffd200;
  color: #333;
  font-size: 18px;
  font-family: 'Proxima Nova', Arial, SansSerif;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #C9C9C9;
  padding: 6px 15px;
}

.book.color-theme-3 .book-header {
  background: #fff;
  height: 65px;
  padding: 8px 0 0 80px;
  background-image: url(https://www.brisbane.qld.gov.au/sites/all/themes/custom/bcc_theme/logo.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: 15px;
}

.book.color-theme-3 .book-header h1 {
  color: #106db2;
  font-family: 'Proxima Nova Semibold', Arial, SansSerif;
  font-weight: normal;
}

.book-header:before {
  width: 7px;
  height: 100%;
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  background: -webkit-linear-gradient(top,#106db2 50%,#ebc822 22.5%);
  background: linear-gradient(to bottom,#106db2 50%,#ebc822 22.5%);
  background-size: 100% 26px;
}

.book.color-theme-3 .book-header .btn {
  color: #106db2;
}

.book.color-theme-3 .book-header .btn:hover {
  color: #0a426c;
}

#book-search-input {
  padding: 12px 0 0 10px;
  margin-top: 0;
  height: 65px;
}
